In [2]:
import pandas as pd
import numpy as np

In [3]:
misclassified = pd.read_csv("val_misclassified_epoch5.csv")

In [4]:
misclassified.head()

,text,label_id,true_label,pred_label,top3_labels
0,"This team are scared of that lot, its disgust...",23,23,10,"[10, 5, 9]"
1,* Song Credit: \n aka,21,21,17,"[17, 12, 38]"
2,“you already are” \ni love when blitz is a lit...,34,34,7,"[7, 31, 30]"
3,I see and so many friends tonight trying to ...,26,26,6,"[6, 26, 22]"
4,Thanks for including our Super Savings Accoun...,1,1,37,"[37, 0, 39]"